
.col_container{
    margin-bottom: 20px;
}
.col_container:last-child{
    margin-bottom: 0px;
}
.results{
    float: left;
    position: relative;
    margin-bottom: 80px;
}
.results .col{
    width: 45%;
    min-height: 0;
}
.results .col:first-child{
    width: 55%;
}
.earnings_prose{
    float:left;
    position: relative;
}
.earnings_prose p{
    font-size: 16px;
    clear: left;
    margin: 8px 0;
    line-height: 1.575
}
.earnings_prose p:first-child{
    margin-top: 13px;
}
h2{
    margin: 8px 0 5px;
    font-size: 23px
}
.table_container h2{
    margin: 30px 0 5px;
}

hr{
    float: left;
    margin: 20px 10% 20px;
    position: relative;
    width: 80%;
    border-color: #aaa;

}
.results .prices td{
    padding-top: 3px;
    padding-bottom:0;
}

td label{
    color: #888;
    font-size: 12.5px;
    font-weight: normal;
    margin: 0 10px 0 0;
    min-width: 16px;
    text-align: right;
}
td{
    padding: 7px .625em 3px;
    font-size: 16px;
}
thead th{
    font-size: 11px;
    padding: 9px 12px 6px 9px;
    font-weight: normal;
}
th:first-child{
    font-weight:normal;
    font-size:11px;
}
.earnings{
    min-width: 185px;
}
.earnings tr{
    border:none;
}
.earnings td{
    padding-top: 1px;
    padding-bottom: 6px;
    text-align: right;
}
.earnings tr:first-child td{
    padding-top: 6px;
}
.earnings th{
    white-space: nowrap;
}

.earnings .total{
    border-top: 1px solid #888;
}
.table_container{
    float:left;
    position:relative;
    clear: both;
}
.col.prices{
    padding-left: 54px;
}
table.prices td{
    padding-top: 3px;
    padding-bottom: 0;
}
table.prices tr:last-child td{
    padding-top: 11px;
    padding-bottom: 8px;
}
table.prices{
    width: 100%;
}
