{% load staticfiles otree_tags %}


    <table id = "products">
        <thead>
            <tr>
                <th></th>
                {% for i in products_list %}
                    <th>Product {{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for dimensions in productdimvals_transposed%}
            <tr>
                <td>
                    <label></label>
                </td>
            {% for product_dim_i in dimensions%}
                <td>
                    <span>
                        {{ product_dim_i }}
                    </span>
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    <tr>
        <td></td>
        {% for i in products_list %}
        <td>
            <label><input type = "radio" required = "" name = "product_selected" value = {{ i|stringformat:"i"}}>
                Product {{ i }}
            </label>
        </td>
        {% endfor %}
    </tr>
    </tbody></table>
