{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.practiceround %}
        Practice Round
    {% else %}
        Round {{ treatmentroundnum }} of {{treatmentrounds }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if Constants.show_truncation_timer %}
        <div id="timer">
            <label>Time Remaining:</label>
            <input type = "test" disabled = "disabled" value="{{ Constants.truncation_timer }}">
            </input>
        </div>
    {% endif %}
    <div class="col_container">
        <div>
                <p>
                    There are {{ products_total }} products in this round.
                </p>
                <p>
                    Each product has {{ productdims_total }} total attributes but only {{ productdims_shown }} of those attributes are shown to you.
                </p>
                <p>
                Your preference dimensions are as follows:
                <table id = "preferences">
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in preferences_list %}
                                <th>Preference {{ i }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for preferences in preferencedimvals %}
                            <tr>
                            {% for preference_dim_i in preferences %}
                                    <td>
                                        <span>
                                            {{ preference_dim_i }}
                                        </span>
                                    </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </p>
                <p>
                    Each of the products' shown attributes are displayed in the following table.
                </p>
                <p>
                    (TESTING: the full productdims matrix is {{ productdimvals }})
                </p>
            <p>As a reminder:</p>
            <ul>
                <li>Each product has multiple attributes, but not all of them are listed.</li>
                <li>Your preference for every attribute is shown in your preference dimensions above.</li>
            </ul>
                <p>
                    Please choose a product.
                </p>
        </div>
        <div class="col">
            {% include "tiered_disclosure/parts/truncationChoicePart.html" %}
        </div>
             <nav>
                <button class="a-btn next" >Next</button>
            </nav>
    </div>
{% endblock %}
{% block app_styles %}
   <link href="{% static "tiered_disclosure/Truncation.css" %}" rel="stylesheet">
{% endblock %}
