{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.practiceround %}
        Practice Round
    {% else %}
        Round {{ round }} of {{ treatmentrounds }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if Constants.show_truncation_timer %}
        <div id="timer">
            <label>Time Remaining:</label>
            <input type = "test" disabled = "disabled" value="{{ Constants.truncation_timer }}">
            </input>
        </div>
    {% endif %}
    <div class="col_container">
        <div class="col realround_instructions">
            <p>
                There are {{ products_total }} products in this round. Each product has {{ productdims_total }} attributes which are not shown.
                (TESTING: the full productdims matrix is {{ productdimvals }})
            </p>
            <p>
                Your preference profile for each product's {{ productdims_total }} attributes are:
                <table id = "preferences">
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in preferences_list %}
                                <th>Preference {{ i }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for preferences in preferencedims %}
                            <tr>
                            {% for preference_dim_i in preferences %}
                                    <td>
                                        <span>
                                            {{ preference_dim_i }}
                                        </span>
                                    </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
            <p>
                The preference profiles of {{ num_representatives }} other individuals for the product dimensions are:
                <table id = "representatives">
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in representatives_list %}
                                <th>Guy{{ i }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for preferences in representativedimvals_transposed %}
                            <tr>
                            {% for representative_dim_i in preferences %}
                                    <td>
                                        <span>
                                            {{ representative_dim_i }}
                                        </span>
                                    </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
            <p>
                Based on their preference profile, how these {{ num_representatives }} other individuals value these products is shown in the following table:
                <table id = "rep_utility">
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in products_list %}
                                <th>Product {{ i }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for utilities in utility_dims %}
                            <tr>
                            {% for representative_utility in utilities %}
                                    <td>
                                        <span>
                                            {{ representative_utility }}
                                        </span>
                                    </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
            <p>As a reminder:</p>
            <ul>
                <li>There are {{ products_total }} products in this round.</li>
                <li>Each product has {{ productdims_total }} attributes that are not shown to you.</li>
                <li>Your preference for these attributes are shown in your preference profile.</li>
                <li>The preference profiles of {{ num_representatives }} other individuals are also shown</li>
                <li>How much value the products give each of the three other individuals is determined by their preference profile.</li>
            </ul>
            <p>Based on your preference profile, please choose the product which would give you the most benefit.</p>
        </div>
        <div class="col">
            {% include "tiered_disclosure/parts/aslChoicePart.html" %}
        </div>
             <nav>
                <button class="a-btn next" >Next</button>
            </nav>
    </div>
{% endblock %}
{% block app_styles %}
   <link href="{% static "tiered_disclosure/Truncation.css" %}" rel="stylesheet">
{% endblock %}
