{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.practiceround %}
        Practice Round (ASL)
    {% else %}
        Round {{ round }} of {{ treatmentrounds }} (ASL)
    {% endif %}
{% endblock %}

{% block content %}
    {% if Constants.show_truncation_timer %}
        <div id="timer">
            <label>Time Remaining:</label>
            <input type = "test" disabled = "disabled" value="{{ Constants.truncation_timer }}">
            </input>
        </div>
    {% endif %}
    <div class="col_container">
        <div class="col realround_instructions">
            <p>
                There are {{ products_total }} products in this round. 
            </p>
            <p>
            Each product has {{ productdims_total }} attributes. In this round, none of the product attributes are shown to you (all of them are hidden).
            </p>
            <p>
                Your preference for each product attribute is:
                <table id = "preferences">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Your Preference Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for preference_dim_i in preferencedims %}
                            <tr>
                                <td>
                                    <label>Attribute {{ forloop.counter }}</label>
                                </td>
                                <td>
                                    <span>
                                        {{ preference_dim_i }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </p>
            <p>
                For comparison, the preference profiles of {{ num_representatives }} other individuals for the same {{ products_total }} products are:
                <table id = "representatives">
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in representatives_list %}
                                <th>Individual {{ i }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                            {% for preferences in representativedimvals_transposed %}
                            <tr>
                                <td>
                                    <label>Attribute {{ forloop.counter }}</label>
                                </td>
                                {% for representative_dim_i in preferences %}
                                <td>
                                    <span>
                                        {{ representative_dim_i }}
                                    </span>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </p>
            <p>
                Based on their preference profile, how these {{ num_representatives }} other individuals value these products is shown in the following table:
                <table id = "rep_utility">
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in products_list %}
                                <th>Product {{ i }} Utility</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for utilities in utility_dims %}
                            <tr>
                                <td>
                                    <label>Representative {{ forloop.counter }}</label>
                                </td>
                            {% for representative_utility in utilities %}
                                    <td>
                                        <span>
                                            {{ representative_utility }}
                                        </span>
                                    </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
            <p>As a reminder:</p>
            <ul>
                <li>There are {{ products_total }} products in this round.</li>
                <li>Each product has {{ productdims_total }} attributes, none of which are shown to you.</li>
                <li>Your preference for these attributes are shown in your preference profile.</li>
                <li>For comparison, the preference profiles of {{ num_representatives }} other individuals are shown.</li>
                <li>How much each each of the {{ num_representatives }} other individuals value each product is determined by their preference profile, in the same manner that each product's value was calculated for you in the previous round.</li>
            </ul>
            <p>Based on your preference profile and comparing how much each of the {{ num_representatives }} other individuals value each product, please choose the product which would maximize your utility.</p>
        </div>
        <div class="col">
            {% include "tiered_disclosure/parts/aslChoicePart.html" %}
        </div>
             <nav>
                <button class="a-btn next" >Next</button>
            </nav>
    </div>
{% endblock %}
{% block app_styles %}
   <link href="{% static "tiered_disclosure/Truncation.css" %}" rel="stylesheet">
{% endblock %}
