{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.practiceround %}
        Practice Round (Truncation)
    {% else %}
        Round {{ round }} of {{ treatmentrounds }} (Truncation)
    {% endif %}
{% endblock %}

{% block content %}
    {% if Constants.show_truncation_timer %}
        <div id="timer">
            <label>Time Remaining:</label>
            <input type = "test" disabled = "disabled" value="{{ Constants.truncation_timer }}">
            </input>
        </div>
    {% endif %}
    <div class="col_container">
        <div>
            <p>
                There are {{ products_total }} products in this round.
            </p>
            <p>
                Each product has {{ productdims_total }} total attributes but only {{ productdims_shown }} of those attributes are shown to you (1 is hidden).
            </p>
            <p>
                Your preference for each product attribute is:
                <table id = "preferences">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Your Preference Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for preference_dim_i in preferencedimvals %}
                            <tr>
                                <td>
                                    <label>Attribute {{ forloop.counter }}</label>
                                </td>
                                <td>
                                    <span>
                                        {{ preference_dim_i }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </p>
            <p>As a reminder:</p>
            <ul>
                <li>Each product has multiple attributes, but not all of them are shown.</li>
                <li>Your preference for every attribute is shown in your preference profile above</li>
                <li>The amount of tokens you receive is determined by multiplying each attribute value with its preference value, and then adding them together.</li>
            </ul>             
                <p>
                Each of the products' (shown) attributes are displayed in the following table.
                </p>
                <p>
                Please choose what you think the best product is, in terms of maximizing the number of tokens you will receive, according to your preference profile and the shown attribute values of each product:
                </p>
        </div>
        <div class="col">
            {% include "tiered_disclosure/parts/truncationChoicePart.html" %}
        </div>
             <nav>
                <button class="a-btn next" >Next</button>
            </nav>
    </div>
{% endblock %}
{% block app_styles %}
   <link href="{% static "tiered_disclosure/Truncation.css" %}" rel="stylesheet">
{% endblock %}
