{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    Experiment Basics
{% endblock %}

{% block content %}
	<table class="centerer"><tbody><tr><td>
	        <div>

	            <section>
	                <p>Thank you for participating in this experiment.</p>

	                <p>
	                    During the experiment, we require your complete attention. Please do not speak to other participants or engage in other distracting activities such as using your cell phone.  Please do not use the computer except as instructed.
	                </p>

	                <p>
	                    You will be paid in cash at the end of the experiment, and the amount you earn depends on your choices during the experiment. It is therefore important that you follow along carefully and fully understand the instructions.
	                </p>
	            </section>

	            <section>
	                <p>
	                    The experiment will be conducted through the lab computers. Please do not try to speak to other participants or to look at their screens.
	                </p>
	                <p>
	                    If you have a question at any time, please raise your hand and someone will come to your computer to assist you.
	                </p>
	            </section>
	            <section>
	                <p>
	                    As advertised, you will be given ( {{ showup }} ) today regardless of your performance in the experiment.
	                </p>
	                <p>
	                    In addition, in the experiment you will earn tokens.  For every ( {{ tokens_per_dollar }} ) tokens you earn, you will be paid $1.00 in cash.  You will be paid in private at the end of the experiment.
	                </p>
	            </section>
	        </div>
	    </td></tr></tbody></table>
<nav>
	<div id="next">
		<button style="height:47px" value="Next" class="btn btn-primary btn-lg">Next</button>
	</div>
<!--     <input type="button" class="a-btn next" value="Next"></input>
 -->
</nav>


{% endblock %}
{% block styles %}
	<style>
		#privacytext {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    		font-size: 18px;
 	   		color: #333;
   	 		background-color: #fff;
		}
		#title {
			font-weight: bold;
			margin-bottom: 20px;
		}
		#next {
			margin-top: 20px;
		}

    </style>
{% endblock %}
