{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    Instructions Truncation

<!--     In this game, you will be assigned a preference profile, and shown a disclosure for a list of products. If chosen, each product would give you a certain amount of experimental currency, determined by the interaction of the product's attributes and your preference profile. At the end of the experiment, the experimental currency will be exchanged for dollars at a fixed exchange rate. For example.. -->
{% endblock %}
