{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Practice Rounds
{% endblock %}

{% block content %}
<table class="centerer"><tbody><tr><td>
        <div class="content_thin">
        	<p>We will now go through {{ practicerounds }} practice rounds to help you understand the next part of the game.</p>

            <p>You will not be paid for your performance in these rounds.</p>

        </div>  
    </td></tr></tbody></table>
<nav>
    <div id="next">
        <button style="height:47px" value="Next" class="btn btn-primary btn-lg">Next</button>
    </div>
<!--     <input type="button" class="a-btn next" value="Next"></input>
 -->
</nav>


{% endblock %}

{% block styles %}
    <style>
        #privacytext {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 18px;
            color: #333;
            background-color: #fff;
        }
        #title {
            font-weight: bold;
            margin-bottom: 20px;
        }
        #next {
            margin-top: 20px;
        }

    </style>
{% endblock %}