{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Paid Rounds
{% endblock %}

{% block content %}
    {% if subsession.block == 2 %}
        <p>We will now begin the paid rounds for this game.</p>
    {% endif %}
    <p>
        If you have any questions at this time, please raise your hand.
    </p>
    <p>You will play {{ treatmentrounds }} paid round{{treatmentrounds|pluralize}} of this game.
        {% if subsession.block < Constants.num_treatments %}
            After this, you will receive additional instructions.
        {% endif %}
    </p>
    <p>
        If you have any questions during the paid rounds, please raise your hand and someone will assist you in private.
    </p>

    <nav>
        <div id="next">
            <button style="height:47px" value="Next" class="btn btn-primary btn-lg">Next</button>
        </div>
    <!--     <input type="button" class="a-btn next" value="Next"></input>
     -->
    </nav>


{% endblock %}

{% block styles %}
    <style>
        #privacytext {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 18px;
            color: #333;
            background-color: #fff;
        }
        #title {
            font-weight: bold;
            margin-bottom: 20px;
        }
        #next {
            margin-top: 20px;
        }

    </style>
{% endblock %}