{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if subsession.is_asl %}
        {% if subsession.practiceround %}
            Practice Round Results (ASL)
        {% else  %}
            Results (ASL)
        {% endif %}
    {% else %}
        {% if subsession.practiceround %}
            Practice Round Results (Truncation)
        {% else %}
            Results (Truncation)
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <p>You selected product: </p>
                <table id = "product_selected">
                    <thead>
                        <tr>
                            <th></th>
                                <th>Product {{ product_selected }}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                            {% for product_dim_i in productdimvals_selected %}
                                <td>
                                    <label>Attribute {{ forloop.counter }}</label>
                                </td>
                                <td>
                                    <span>
                                        {{ product_dim_i }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    <div class="col_container">
    <p>Based on your preference profile:
                <table id = "preferences">
                    <thead>
                        <tr>
                            <th></th>
                            {% for i in preferences_list %}
                                <th>Attribute {{ i }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>
                                    <label>Weight</label>
                                </td>
                            {% for preference in preferencedims %}
                                <td>
                                    <span>
                                        {{ preference}}
                                    </span>
                                </td>
                            {% endfor %}
                            </tr>
                    </tbody>
                </table>
        </p>
    </div>
        <p>The total tokens received from the product you selected is {{ utility_selected }}. </p>
    {% if product_selected == product_best %}
        <p>Based on your preference profile in this round, you selected the product which maximizes your tokens.</p>
    {% else %}
        <p>Based on your preference profile in this round, you did not select the product which would have maximized your tokens.</p>
        <p>The product which would have maximized your utility was product:
                <table id = "product_best">
                        <thead>
                        <tr>
                            <th></th>
                                <th>Product {{ product_best }}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                            {% for product_dim_i in productdimvals_best %}
                                <td>
                                    <label>Attribute {{ forloop.counter }}</label>
                                </td>
                                <td>
                                    <span>
                                        {{ product_dim_i }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            which would have given you {{ utility_best }} tokens.</p>
    {% endif %}
    <p>Here is a table of the full list of attributes for each product that was in this round:</p>
    <table id = "products">
        <thead>
            <tr>
                <th></th>
                {% for i in products_list %}
                    <th>Product {{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dimensions in productdimvals_transposed%}
                <tr>
                    <td>
                        <label>Attribute {{ forloop.counter }}</label>
                    </td>
                {% for product_dim_i in dimensions%}
                    <td>
                        <span>
                            {{ product_dim_i }}
                        </span>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Press next to continue to the next round.</p>
    {% next_button %}
{% endblock %}
{% block app_styles %}
   <link href="{% static "tiered_disclosure/Truncation.css" %}" rel="stylesheet">
{% endblock %}